.albumImage {
    width: 30%;
    margin-right: 2rem;
  }

  .albumImage img {
    max-width: 275px;
  }

  .addPlaylist {
    /*background-color: var(--primaryAccentColor);*/
    /*padding: 1rem;*/
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--darkGrey);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: #fff;
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  a.waves-effect.waves-light.addPlaylist{
    color: #fff;
    padding-bottom: 5px;
  }

  @media screen and (max-width: 500px) {
    .albumImage,
    .infoAlbum {
      width: 100%;
      margin: 0 0 2rem 0;
      text-align: center;
    }
  }
  .infoAlbum p {
    margin-bottom: 0.5rem;
  }

  .infoAlbum span {
    color: var(--primaryAccentColor);
    font-weight: 600;
  }

  .infoAlbum {
    margin-bottom: 1.5rem;
  }

  /*.trackInfo {*/
  /*  display: flex;*/
  /*  justify-content: space-between;*/
  /*  align-items: center;*/
  /*  background-color: var(--primaryAccentColor);*/
  /*  position: relative;*/
  /*  height: 40px;*/
  /*  color: #fff;*/
  /*  margin-bottom: 0;*/
  /*  border-bottom: solid var(--darkerAccentColor) 1px;*/
  /*  padding: 5px 10px;*/
  /*  padding-top: 0px;*/
  /*  padding-bottom: 0px;*/

  /*}*/

  /*.trackInfo:last-child {*/
  /*  border-bottom: none;*/
  /*}*/

  /*.trackInfo:hover {*/
  /*  cursor: pointer;*/
  /*  background-color: var(--darkerAccentColor);*/
  /*  color: var(--darkGrey);*/
  /*}*/

  /*.trackInfo .songTitle {*/
  /*  flex-grow: 2;*/
  /*  white-space: nowrap;*/
  /*  max-width: 90%;*/
  /*  overflow: hidden;*/
  /*  white-space: nowrap;*/
  /*  text-overflow: ellipsis;*/
  /*  */
  /*}*/
  /*.playTrackIcon {*/
  /*  font-size: 1.3rem;*/
  /*}*/

  /*.playTrackIcon,*/
  /*.trackNumber,*/
  /*.songTitle {*/
  /*  margin-right: 10px;*/
  /*}*/

