.trackInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryAccentColor);
  position: relative;
  min-height: 2.5rem;
  color: #fff;
  margin-bottom: 0;
  border-bottom: solid var(--darkerAccentColor) 1px;
  padding: 5px 10px;
}

.trackInfo:last-child {
  border-bottom: none;
}

.trackInfo:hover {
  cursor: pointer;
  background-color: var(--darkerAccentColor);
  color: var(--darkGrey);
}

.mainSongInfo{
  width: 75%;
  display: inline-flex;
}

@media screen and (max-width: 499px) {
  .trackInfo .songTitle,
  .trackInfo .songArtist{
    width: 100%;
  }
  .mainSongInfo {
    flex-wrap: wrap;
    width: 55%;
  }
}

.trackInfo .songTitle,
.trackInfo .songArtist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playTrackIcon {
  font-size: 1.3rem;
}
.pauseTrackIcon {
    font-size: 1.3rem;
    display: none;
  }

.playTrackIcon,
.pauseTrackIcon,
.trackNumber {
  width: 3%;
  min-width: 1.5em;
}

@media screen and (min-width: 500px) {
  .trackInfo .songTitle {
    flex-grow: 2;
    max-width: 90%;
  }
  .songArtist {
    width: 25%;
  }
}
.trackDuration {
  width: 8%;
  min-width: 3em;
  text-align: right;
}

.playTrackIcon,
.pauseTrackIcon,
.trackNumber,
.songArtist .songTitle {
  margin-right: 10px;
}
